@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #0284c7;
  --color-accent: #6366f1;
  --color-light: #f8fafc;
  --color-dark: #1e293b;
  --font-sans: 'Inter', sans-serif;
}

html,
body {
  background-color: var(--color-light);
  color: var(--color-primary);
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  }
}